body {
  padding-top: 56px;
}

.jumbotron {
  background-color: cadetblue;
}

.logo {
  width: 50px;
  height: 50px;
}

.background-header {
  background-image: url("banner 2.jpg");
  background-color: #fafbfc;
  /* background-color: #6c757d; */
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: black 1px 1px;
}

.bg-2 {
  background-image: url("banner 2.jpg");
}

.bg-3 {
  background-image: url("banner 3.jpg");
}

h1.display-3 {
  color: aliceblue;
}

p.lead {
  font-weight: bold;
  color: #fff;
}

.btn-info {
  text-shadow: 0px 0px;
  color: #fafbfc;
}

.btn-secondary {
  text-shadow: 0px 0px;
}

.btn-secondary:hover {
  background-color: #6c757d;
  color: black;
  text-shadow: 0px 0px;
}

.btn-info:hover {
  background-color: #038c6a;
  color: black;
  text-shadow: 0px 0px;
}

.service-style {
  margin-top: 15px;
  background-color: #6c757d;
}

.text-wheat {
  color: wheat;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-yellow:hover {
  background-color: red;
  color: black !important;
  text-shadow: 0px 0px;
}

h2:before,
h2:after {
  background-color: wheat;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.button-sekunder {
  background-color: transparent;
  border-color: #dbdbdb;
  color: wheat;
}

.button-sekunder:hover {
  background-color: wheat;
  border-color: #dbdbdb;
  color: #fff;
}

.cover {
  background: no-repeat center/cover;
  width: 559px;
}

.text-justify {
  text-align: justify;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
  font-weight: inherit;
}
